In [3]:
import numpy as np

In [8]:
import pandas as pd

In [42]:
# Load dataset
df = pd.read_csv('../gold_price_data.csv')
print(df)

## solutions 
df = pd.read_csv("../gold_price_data.csv")

            date        open        high         low       close   adj_close  \
0     2004-11-18   44.380001   44.380001   44.490002   44.070000   44.430000
1     2004-11-19   44.779999   44.779999   44.919998   44.470001   44.490002
2     2004-11-22   44.950001   44.950001   44.970001   44.740002   44.750000
3     2004-11-23   44.750000   44.750000   44.919998   44.720001   44.880001
4     2004-11-24   45.049999   45.049999   45.049999   44.790001   44.930000
...          ...         ...         ...         ...         ...         ...
5210  2025-08-06  310.500000  310.500000  311.239990  309.839996  310.320007
5211  2025-08-07  313.119995  313.119995  313.140015  310.700012  311.720001
5212  2025-08-08  313.049988  313.049988  313.529999  311.000000  312.350006
5213  2025-08-11  308.549988  308.549988  309.660004  307.630005  308.619995
5214  2025-08-12  308.269989  308.269989  309.309998  306.709991  308.220001

        volume
0      5992000
1     11655300
2     11996000
3      3169200
4      6105100
...        ...
5210   7418200
5211  10891500
5212  19886800
5213  10326700
5214   9697400

[5215 rows x 7 columns]

In [43]:
close_column_array = df['close'].to_numpy()
print(close_column_array)

## solutions 
# Extract the 'close' column as a NumPy array
close_prices = df["close"].to_numpy()

[ 44.06999969  44.47000122  44.74000168 ... 311.         307.63000488
 306.70999146]

In [11]:
array = np.array([1,2,3])

In [44]:
print(np.mean(close_column_array))

## solutions
print("Mean closing price:", np.mean(close_prices))

131.25655610915683
Mean closing price: 131.25655610915683

In [46]:

print(np.median(close_column_array))

## solutions 
print("Median closing price:", np.median(close_prices))

print(np.std(close_column_array))

## solutions
print("Standard deviation:", np.std(close_prices))

123.9800033569336
Median closing price: 123.9800033569336
51.06827818298171
Standard deviation: 51.06827818298171

In [48]:
min_1 = np.min(close_column_array)

## solutions
print("Minimum closing price:", np.min(close_prices))

max_2 = np.max(close_column_array)

## solutions
print("Maximum closing price:", np.max(close_prices))

print(min_1)
print(max_2)

Minimum closing price: 41.02000045776367
Maximum closing price: 315.0400085449219
41.02000045776367
315.0400085449219

In [49]:
range_1 = max_2 - min_1
print(range_1)

## solutions 
price_range = np.max(close_prices) - np.min(close_prices)
print("Range of closing prices:", price_range)

274.0200080871582
Range of closing prices: 274.0200080871582

In [20]:
date = df['date'].to_numpy()
print(date)

['2004-11-18' '2004-11-19' '2004-11-22' ... '2025-08-08' '2025-08-11'
 '2025-08-12']

In [24]:
x = np.where(close_column_array == max_2)
y = date[x]
print(y)

['2025-06-13']

In [26]:
print(df[:31])

          date       open       high        low      close  adj_close  \
0   2004-11-18  44.380001  44.380001  44.490002  44.070000  44.430000
1   2004-11-19  44.779999  44.779999  44.919998  44.470001  44.490002
2   2004-11-22  44.950001  44.950001  44.970001  44.740002  44.750000
3   2004-11-23  44.750000  44.750000  44.919998  44.720001  44.880001
4   2004-11-24  45.049999  45.049999  45.049999  44.790001  44.930000
5   2004-11-26  45.290001  45.290001  45.599998  45.060001  45.250000
6   2004-11-29  45.400002  45.400002  45.500000  45.080002  45.099998
7   2004-11-30  45.119999  45.119999  45.410000  44.820000  45.369999
8   2004-12-01  45.380001  45.380001  45.590000  45.259998  45.279999
9   2004-12-02  44.950001  44.950001  45.570000  44.680000  45.549999
10  2004-12-03  45.599998  45.599998  46.000000  44.799999  45.040001
11  2004-12-06  45.169998  45.169998  45.470001  45.110001  45.389999
12  2004-12-07  45.110001  45.110001  45.320000  45.070000  45.299999
13  2004-12-08  44.009998  44.009998  44.020000  43.360001  43.799999
14  2004-12-09  43.779999  43.779999  43.900002  43.200001  43.750000
15  2004-12-10  43.439999  43.439999  43.599998  43.310001  43.369999
16  2004-12-13  43.910000  43.910000  44.009998  43.509998  43.610001
17  2004-12-14  43.549999  43.549999  43.799999  43.509998  43.759998
18  2004-12-15  43.990002  43.990002  44.169998  43.919998  44.099998
19  2004-12-16  43.680000  43.680000  44.049999  43.580002  43.990002
20  2004-12-17  44.189999  44.189999  44.220001  43.779999  43.930000
21  2004-12-20  44.340000  44.340000  44.369999  44.130001  44.330002
22  2004-12-21  44.220001  44.220001  44.240002  44.049999  44.130001
23  2004-12-22  44.020000  44.020000  44.230000  43.889999  44.200001
24  2004-12-23  44.270000  44.270000  44.349998  44.049999  44.169998
25  2004-12-27  44.480000  44.480000  44.560001  44.270000  44.290001
26  2004-12-28  44.369999  44.369999  44.470001  44.290001  44.419998
27  2004-12-29  43.660000  43.660000  44.020000  43.349998  43.919998
28  2004-12-30  43.830002  43.830002  43.880001  43.490002  43.500000
29  2004-12-31  43.799999  43.799999  43.939999  43.730000  43.849998
30  2005-01-03  43.020000  43.020000  43.169998  42.740002  42.980000

      volume
0    5992000
1   11655300
2   11996000
3    3169200
4    6105100
5    3097700
6    3759000
7    3857200
8    2037500
9    6457800
10   4218300
11   3102400
12   3797300
13   6148600
14   3553400
15   2464300
16   1445100
17   2240600
18   2641400
19   3269800
20   1889300
21   1942100
22   1373400
23   2705800
24    639800
25   2643500
26    773200
27   5632200
28   1289600
29    531600
30   4750400

In [28]:
print(df[-30:])

            date        open        high         low       close   adj_close  \
5185  2025-07-01  307.549988  307.549988  309.000000  307.359985  308.559998
5186  2025-07-02  309.250000  309.250000  309.399994  306.959991  308.040009
5187  2025-07-03  307.140015  307.140015  307.570007  306.149994  307.049988
5188  2025-07-07  307.369995  307.369995  307.709991  304.529999  305.070007
5189  2025-07-08  304.160004  304.160004  306.450012  302.769989  306.299988
5190  2025-07-09  305.519989  305.519989  305.540009  303.230011  303.579987
5191  2025-07-10  306.200012  306.200012  306.510010  304.820007  306.109985
5192  2025-07-11  309.140015  309.140015  310.279999  308.519989  308.859985
5193  2025-07-14  308.010010  308.010010  309.380005  307.730011  309.070007
5194  2025-07-15  306.730011  306.730011  308.739990  305.790009  307.730011
5195  2025-07-16  308.260010  308.260010  311.089996  305.730011  307.109985
5196  2025-07-17  307.589996  307.589996  307.670013  305.119995  305.500000
5197  2025-07-18  308.390015  308.390015  309.369995  308.320007  309.239990
5198  2025-07-21  313.130005  313.130005  313.309998  311.609985  311.880005
5199  2025-07-22  316.100006  316.100006  316.239990  313.619995  314.480011
5200  2025-07-23  312.179993  312.179993  314.959991  311.420013  314.000000
5201  2025-07-24  310.269989  310.269989  310.989990  309.059998  309.290009
5202  2025-07-25  307.399994  307.399994  308.309998  306.200012  307.820007
5203  2025-07-28  305.410004  305.410004  306.579987  304.049988  306.440002
5204  2025-07-29  306.250000  306.250000  307.029999  304.989990  305.799988
5205  2025-07-30  300.959991  300.959991  304.649994  300.959991  304.420013
5206  2025-07-31  302.959991  302.959991  304.609985  302.859985  304.589996
5207  2025-08-01  309.109985  309.109985  309.549988  307.450012  308.609985
5208  2025-08-04  310.910004  310.910004  311.739990  310.369995  310.799988
5209  2025-08-05  311.160004  311.160004  312.239990  310.220001  310.369995
5210  2025-08-06  310.500000  310.500000  311.239990  309.839996  310.320007
5211  2025-08-07  313.119995  313.119995  313.140015  310.700012  311.720001
5212  2025-08-08  313.049988  313.049988  313.529999  311.000000  312.350006
5213  2025-08-11  308.549988  308.549988  309.660004  307.630005  308.619995
5214  2025-08-12  308.269989  308.269989  309.309998  306.709991  308.220001

        volume
5185   9335600
5186   8316400
5187   5275800
5188   7351600
5189  11840500
5190  10644100
5191   7053700
5192   9187300
5193   5772900
5194   8149000
5195  17693100
5196   6642300
5197   5574300
5198  10995800
5199  13691800
5200  10547500
5201   7698800
5202   9376400
5203   9275400
5204   5741100
5205  13459600
5206   8981000
5207  12843400
5208   7639000
5209   6997700
5210   7418200
5211  10891500
5212  19886800
5213  10326700
5214   9697400

In [29]:
high_column = df['high'].to_numpy()
print(high_column)

[ 44.38000107  44.77999878  44.95000076 ... 313.04998779 308.54998779
 308.26998901]

In [30]:
low_column = df['low'].to_numpy()
print(low_column)

[ 44.49000168  44.91999817  44.97000122 ... 313.52999878 309.66000366
 309.30999756]

In [33]:
difference_in_days = high_column - low_column

In [38]:
smallest_increase = np.min(difference_in_days)
biggest_increase = np.max(difference_in_days)
print(smallest_increase)
print(biggest_increase)

index_of_biggest_increase = np.argmax(difference_in_days)
index_of_smallest_increase = np.argmin(difference_in_days)
print(index_of_biggest_increase)
print(index_of_smallest_increase)

-9.300003051757812
0.0
4
1832

In [39]:
print("date of biggest increase", date[index_of_biggest_increase])

biggest increase 2004-11-24

In [40]:
print("date of smallest increase", date[index_of_smallest_increase])

smallest increase date 2012-02-29