In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("sales_with_nans (3).csv")
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [35]:
df["Group"] = df["Group"].fillna("Unknown")
df["Customer_Segment"] = df["Customer_Segment"].fillna("Unknown")
df["Sales_Before"] = df["Sales_Before"].fillna(df["Sales_Before"].median())
df["Sales_After"] = df["Sales_After"].fillna(df["Sales_After"].median())
df["Customer_Satisfaction_Before"] = df["Customer_Satisfaction_Before"].fillna(df["Customer_Satisfaction_Before"].median())
df["Customer_Satisfaction_After"] = df["Customer_Satisfaction_After"].fillna(df["Customer_Satisfaction_After"].median())
df["Purchase_Made"] = df["Purchase_Made"].fillna("Unknown")
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,73.844594,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,Unknown,High Value,229.685623,273.129170,83.974852,87.738591,Yes

In [6]:
# Total sales before & after
total_sales_before = df['Sales_Before'].sum()
total_sales_after = df['Sales_After'].sum()
print(total_sales_before)
print(total_sales_after)

2036571.240202933
2798958.3462232323

In [7]:
# Average sales before & after
avarage_sales_before = df['Sales_Before'].mean()
avarage_sales_after = df['Sales_After'].mean()
print(avarage_sales_before)
print(avarage_sales_after)

203.6571240202933
279.8958346223232

In [9]:
# Average satisfaction before & after
avarage_sales_sat_before = df['Sales_Before'].mean()
avarage_sales_sat_after = df['Sales_After'].mean()
print(avarage_sales_sat_before)
print(avarage_sales_sat_after)

203.6571240202933
279.8958346223232

In [10]:
# Minimum and maximum sales values
max_sales_before = df['Sales_Before'].max()
min_sales_before = df['Sales_Before'].min()

max_sales_after = df['Sales_After'].max()
min_sales_after = df['Sales_After'].min()

print(max_sales_before, min_sales_before)
print(max_sales_after, min_sales_after)

545.4225471380589 24.85296575372195
818.2199974644652 32.414352282538246

In [11]:
# Calculate the change in average sales and change in satisfaction from before to after
change_in_average_sats = avarage_sales_sat_after - avarage_sales_sat_before
print(change_in_average_sats)
change_in_average_sales = avarage_sales_after - avarage_sales_before
print(change_in_average_sales)

76.2387106020299
76.2387106020299

In [15]:
# Get all rows for a specific customer_segment e.g high value
filter_specific_seg = df.loc[df['Customer_Segment'] == 'High Value']
filter_specific_seg.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,73.844594,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
4,Unknown,High Value,229.685623,273.129170,83.974852,87.738591,Yes
6,Control,High Value,191.713918,222.409356,89.967827,85.120975,Yes

In [16]:
# Get all customers with sales above the average
filter_specific_sales_before = df.loc[df['Sales_Before'] > avarage_sales_before]
filter_specific_sales_after = df.loc[df['Sales_Before'] > avarage_sales_after]
filter_specific_sales_before.head()
filter_specific_sales_after.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
16,Treatment,Unknown,306.701452,485.135424,77.431662,78.361282,Unknown
71,Treatment,High Value,280.113815,445.858002,69.490898,73.938801,No
72,Control,High Value,329.860683,393.672908,70.249026,88.772092,Yes
93,Treatment,High Value,306.210716,463.274182,82.053457,70.831069,Yes
94,Treatment,High Value,306.110569,465.545155,69.490898,97.293322,Yes

In [21]:
# Filter by multiple conditions (e.g., satisfaction ≥ 4 and sales > 100)
filtered_multiple_before = df[(df["Customer_Satisfaction_Before"] >= 4) & (df["Sales_Before"] > 100)]
filtered_multiple_before.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,73.844594,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,Unknown,High Value,229.685623,273.129170,83.974852,87.738591,Yes

In [53]:
# avg sales before / after customer segment
average_sales = df.groupby("Customer_Segment")["Sales_Before"].mean().reset_index(name="Avg_sales_before")
average_sales.head()

  Customer_Segment  Avg_sales_before
0       High Value        221.193410
1        Low Value        185.973466
2     Medium Value        203.868594
3          Unknown        204.113449

In [42]:
# Satisfaction improvement by Group (Control vs Treatment)
group_sats = df.groupby(["Group"]).agg(
    total_satisfaction_after = ("Customer_Satisfaction_After", "sum"),
     total_satisfaction_before = ("Customer_Satisfaction_Before", "sum")
).reset_index()
group_sats["satisfaction_improvement"] = (group_sats["total_satisfaction_after"] - group_sats["total_satisfaction_before"])
group_sats.head()

,Group,total_satisfaction_after,total_satisfaction_before,satisfaction_improvement
0,Control,318753.432699,302635.892518,16117.540181
1,Treatment,316918.342083,300566.319329,16352.022753
2,Unknown,103008.238167,98047.384576,4960.853591

In [52]:
# Find which Customer_Segment had the biggest sales increase.
group_customer = df.groupby(["Customer_Segment"]).agg(
    total_sales_after = ("Sales_After", "sum"),
     total_sales_before = ("Sales_Before", "sum")
).reset_index()
group_customer["sales_increase"] = (group_customer["total_sales_after"] - group_customer["total_sales_before"])
group_customer.head()
sales_increase_max = group_customer["sales_increase"].max()
print(sales_increase_max)
print(group_customer.loc[group_customer['sales_increase'] == sales_increase_max])

222097.7417845357
  Customer_Segment  total_sales_after  total_sales_before  sales_increase
0       High Value       805605.95827       583508.216485   222097.741785